<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <title> Regalo cumple marie </title>
     <link rel="stylesheet" href="../../css/style.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
<body class="body">  
<div class="header"><h1>REGALO DE CUMPLE 2024 :D</h1></div>
<br><br><br><br><br><br><br>
<button class="button"> <a href="/inicio"><h1> abrir regalo </h1></a></button>
</body>
</html>