<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <title>Cumple Mariela </title>
     <link rel="stylesheet" href="../../css/styleUno.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
<body class="bodybody">
    <div class="escena1 body"> 
    <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1716923821/enmisofa1_asvmzn.png" class="backgroundimage1">
    <h1> Vaya, que dia más tranquilo, recién empieza el mes y ya me libré de mis examenes, así que tengo tiempo para hacer el video de cumple para mi hermana </h1> 
    <audio id="audioEscena1" src="/audios/acto1/1tranquilo.wav" autoplay></audio>
    <br> 
    </div>
    <div class="escena2 body"> 
        <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1716923821/enmisofa2_widr5n.png" class="backgroundimage1">
        <h1>voy a ver las noticias, a ver que hay de interesante</h1>
        <audio id="audioEscena2" src="/audios/acto1/2noticias.wav"></audio>
    </div> 
    <div class="escena3 body"> 
        <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1716924487/periodista_gato_yessss_pzog8c.jpg" class="backgroundimage1">
        <h1>que hermoso día no? Recuerden que estamos a tan solo 1 semana de fin de mes Verdad Mario hugo?</h1>
        <audio id="audioEscena3" src="/audios/acto1/periodista1.wav"></audio>
    </div>
    <div class="escena4 body"> 
        <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1716925481/periodista_ggiem6.jpg" class="backgroundimage1">
        <h1> En efecto miaulfred. Si tenían planes de fin de mes y aún no los hicieron, que pena por ustedes porque probablemente ya sea imposible que lleguen a tiempo</h1>
        <audio id="audioEscena4" src="/audios/acto1/periodista2.wav"></audio>
    </div>
    <div class="escena5 body"> 
        <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1716923821/enmisofa3_kcgyq9.png" class="backgroundimage1">
        <h1>como que ya falta una semana ..... y yo todavía no hice ni el guión</h1>
        <audio id="audioEscena5" src="/audios/acto1/3guion.wav"></audio>
    </div>
    <div class="escena6 body"> 
        <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1716923820/enmisofa4_bcermh.png" class="backgroundimage1">
        <h1>aaaaaaaaaaaaaaaaaa</h1>
        <audio id="audioEscena6" src="/audios/acto1/4aaaaaaa.wav"></audio>
    </div>
    <div class="escena7 body"> 
        <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1716923820/enmisofa4_bcermh.png" class="backgroundimage1">
        <h1>*implosiona*</h1>
        <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1717010391/explosion_plzcnl.gif" class="explosion">
        <audio id="audioEscena7" src="/audios/acto1/Y2meta.app - Big Explosion Sound Effect (64 kbps).mp3"></audio>
    </div>
    <div class="escena8 body"> 
        <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1716937421/DELFINESSSSS_a3z7iv.gif" class="backgroundimage1">
        <h1>*luego de unos días de programación y edición :v*</h1>
        <audio id="audioEscena8" src="/audios/acto1/Y2meta.app - Dolphin Sound Effect (64 kbps).mp3"></audio>
    </div>
    <div class="escena9 body"> 
        <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1716935104/livingperra_qc0ezi.jpg" class="backgroundimage1">
        <h1>*entrada epica*</h1>
        <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1708812081/jackmorningstar_t3gl2g.png" class="avatarteletransportao">
        <audio id="audioEscena9" src="/audios/acto1/Y2meta.app - Trance - 009 Sound System Dreamscape (HD) (128 kbps).mp3"></audio>
    </div>
    <div class="escena10 body"> 
        <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1716936717/livingperra1_w17m9w.png" class="backgroundimage1">
        <h1>bueno, es probable que esto salga bastante tarde</h1>
        <audio id="audioEscena10" src="/audios/acto1/5probable.wav"></audio>
    </div>
    <div class="escena11 body"> 
        <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1716936717/livingperra2_ojn9nh.png" class="backgroundimage1">
        <h1>probablemente te lo mande por whatsapp a la minima que lo tenga </h1>
        <audio id="audioEscena11" src="/audios/acto1/6juliiop.wav"></audio>
    </div>
    <div class="escena12 body"> 
        <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1716936717/livingperra3_dmduta.png" class="backgroundimage1">
        <h1>corra video :D</h1>
        <audio id="audioEscena12" src="/audios/acto1/7monigote.wav"></audio>
    </div>
    <div class="escena13 body"> 
        <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1716936717/livingperra3_dmduta.png" class="backgroundimage1">
        <h1>*Recomendable pausar la musica de abajo*</h1>
        <iframe class="iframe" width="850" height="470" align="right" src="https://www.youtube.com/embed/11wvVPeMgCw?si=RRBzlZs0o2mqn2GL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <audio id="audioEscena13" src="/audios/acto1/noayseakavo.wav"></audio>
    </div>
    <div class="escena14 body"> 
        <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1716936717/livingperra4_vjdasq.png" class="backgroundimage1">
        <h1>*ya puedes despausar la música de abajo :v*</h1>
        <audio id="audioEscena14" src="/audios/acto1/8permanente.wav"></audio>
    </div>
    <div class="escena15 body"> 
        <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1716936717/livingperra5_eh6ra3.png" class="backgroundimage1">
        <h1>espero que te haya gustado el video </h1>
        <audio id="audioEscena15" src="/audios/acto1/9conservar.wav"></audio>
    </div>
    <div class="escena16 body"> 
        <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1716936717/livingperra3_dmduta.png" class="backgroundimage1">
        <h1> Feliz cumple y ojala viajes y cantes mucho durante tus 31 años. </h1>
        <audio id="audioEscena16" src="/audios/acto1/91viajes.wav"></audio>
    </div>
    <div class="escena17 body"> 
        <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1716936717/livingperra6_wshy01.png" class="backgroundimage1">
        <h1>Chau adiós goodbye sayonara doei y, arrivederci. </h1>
        <audio id="audioEscena17" src="/audios/acto1/92lasmildespedidas.wav"></audio>
    </div>
    <div class="escena18 body"> 
        <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1716935104/livingperra_qc0ezi.jpg" class="backgroundimage1">
        <h1>*se va volando de la forma más emo 2010 posible*</h1>
        <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1710111265/felizconalas_mffy2g.png" class="demonioprron">
        <audio id="audioEscena18" src="/audios/acto1/mix_34s (audio-joiner.com).mp3"></audio>
    </div>
    <div class="escena19 body"> 
        <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1717022374/finalo_usm7m1.png" class="backgroundimage1">
        <h1> GRACIAS POR VER </h1>
        <audio id="audioEscena19" src="/audios/acto1/Y2meta.app - America F CK YEAH!   Sound Effects (128 kbps).mp3"></audio>
    </div> 
    <button class="button" onclick="mostrarSiguienteEscena()"> SIGUIENTE </button><button class="button"><a href="/inicio"> refrescar </a></button> <br>
   
    <audio id="miAudio" controls class="audio">
        <source src="/js/Y2meta.app - The Gray Garden OST #12 _ Blancblack Castle (320 kbps).mp3" type="audio/mp3">
    </audio>
    
    <script src="/js/scriptActoUno.js"> </script>
</body>
</html> 